<h4 *ngIf='loading' class="center">Loading...</h4>
<div class="row">
  <div class="col s6 m4" *ngFor="let entity of entities">
    <div class="card horizontal" (click)="goToEntityDetails(entity.id)" entityBorderCard="blue" style="overflow: hidden;cursor: pointer;">
      <div class="card-image">
        <img [src]="entity.picture">
      </div>
      <div class="card-content">
        <p class="card-title">{{entity.name}}</p>
        <span *ngFor="let type of entity.types" class="{{type | entityTypeColor}}">{{type}}</span>
        <p>HP: {{entity.hp}}</p>
        <p>CP: {{entity.cp}}</p>
        <p>Created At: {{ entity.created | date:'dd/MM/yyyy, hh:mm a':'Europe/Paris' }}</p>
      </div>
    </div>
  </div>
</div>
<a
  routerLink="/entities/add"
  class="btn-floating btn-large waves-effect waves-light red z-depth-3"
  style="position: fixed; bottom: 25px; right: 25px; font-size: 50px; line-height: 1;"
>
+
</a>